$card-margin: 8px;

.movie-tabs-container {
  background: #f8f8f8;
  padding-top: 1rem;

  .app-movie {
    width: calc(100% / 4 - 16px);
    margin: $card-margin;
  }

  ::ng-deep {
    .mat-tab-body-content {
      overflow: hidden;
    }
  }
}
