$card-margin: 8px;

.movie-tabs-container {
  background: #f8f8f8;
  padding-top: 1rem;

  .app-movie {
    width: calc(100% / 4 - 16px);
    margin: $card-margin;
  }

  ::ng-deep {
    .mat-tab-label .mat-tab-label-content {
      width: 100%;
    }

    .mat-tab-body-content {
      overflow: hidden;
    }

    .mat-tab-label:last-child {
      padding: 0;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .movie-tabs-container .app-movie {
    width: calc(100% / 2 - 16px);
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .movie-tabs-container .app-movie {
    width: calc(100% / 3 - 16px);
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .movie-tabs-container .app-movie {
    width: calc(100% / 3 - 16px);
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .carousel-item {
    .movie-tabs-container .app-movie {
      width: calc(100% / 4 - 16px);
    }
  }
}
