<footer class="d-flex flex-column w-100 container-fluid my-3">
    <div class="border-bottom mb-2 d-flex justify-content-between align-items-center pb-1 w-100">
        <h2 class="mb-0">THEMOVIEBOX</h2>
        <ul class="list-inline mb-0">
            <li class="list-inline-item">About</li>
            <li class="list-inline-item">Movies</li>
            <li class="list-inline-item">Ratings</li>
            <li class="list-inline-item">Contact</li>
        </ul>
    </div>
    <div class="mb-2 d-flex justify-content-between w-100">
        <div>Design by Milan Houter. All right reserved.</div>
        <ul class="list-inline mb-0">
            <li class="list-inline-item"><i class="fab fa-facebook"></i></li>
            <li class="list-inline-item"><i class="fab fa-pinterest"></i></li>
            <li class="list-inline-item"><i class="fab fa-twitter-square"></i></li>
            <li class="list-inline-item"><i class="fab fa-linkedin"></i></li>
        </ul>
    </div>
</footer>


